
.container {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 15px;
    overflow: hidden;
}

.percent {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    transform: translateX(-75%);
    transition: all 0.5s ease;
}